*{
    margin: 0%;
}
header{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: lightblue;
    font-size: 20px;
    font-weight: 50px;
    text-align: center;
    text-transform: uppercase;

}
.f1{
    background-color: rgb(238, 221, 189);
    margin-top:100px;
    margin-left: 10%;
    margin-right: 10%;

}
.div1{
    padding: 20px;
    position: relative;
    /* background-color: rgb(238, 221, 189); */
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    width: 90%;
    justify-content: center;
    place-items: center;
    gap: 10px;
    margin: 3%;
    }


.img1{
    width: 100%;
    grid-column:1/4;
    grid-row: 1/3;
    height: 100%;
    object-fit: contain;
}
.div21{
    width: 200px;
    height: 100px;
    background-color:rgb(218, 218, 16);
    text-align:center;
    font-weight: 200px;
    font-size: 50px;
    padding: 80px 82px;
    grid-column:4 ;
    grid-row: 1;
    
    
}
.div22{
    width: 200px;
    height: 100px;
    background-color:rgb(218, 218, 16);
    text-align:center;
    font-weight: 200px;
    font-size: 50px;
    padding: 80px 82px;
    grid-column:4;
    grid-row: 2;
}

    
.p{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    margin: 10px 55px;
    gap: 10px;
}
.ch{
    margin-top: -40px;
    background-color:rgb(218, 218, 16);
    margin-bottom: 20px;
    padding: 10px ;
    
}
.one{
    grid-column: 1;
    grid-row: 1;
}
.two{
    grid-column: 2;
    grid-row: 1;
}
.three{
    grid-column: 3;
    grid-row: 1;
}
.four{
    grid-column: 4;
    grid-row: 1;
}
.five{
    grid-column: 5;
    grid-row: 1;
}


.block2{
    position: relative  ;
    /* top: 20px; */
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(238, 221, 189);
}
.f2{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.chi{
    width: 250px;
    border: 1px solid rgb(251, 222, 222);
    text-align: center;
    /* margin-top: 10px; */
}
img{
    width: 200px    ;
    height: 200px;
    margin-top: 5px;
}
.on1{
    grid-column: 1;
    grid-row: 1;
}
.b2{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
}
.b22{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 50px;
    padding: 20px;

}
.img6{
    width: 600px;
    height: 300px;
}
.data{
    padding-top: 70px;
    width: 300px;
}
a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: rgb(154, 154, 10);
    color: black;
}
.block3 {
    position: relative  ;
    top: 10px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(238, 221, 189);
    margin-bottom: 50px;


}
.photog{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 300;
}
.imageB{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-items: center; */
    gap: 20px   ;
}
.childs{
    border: 1px solid rgb(253, 241, 241);
    box-shadow: 2px 2px 4px rgb(111, 107, 99);
}